name: Release Charts v1

on:
  push:
    tags:
      - "v1.*.*"
  workflow_dispatch:
    inputs:
      git_ref:
        description: 'Branch or commit hash (for v1.x branch)'
        required: true
        type: string
      release_tag:
        description: 'Release tag (empty means the same with GitRef)'
        required: false
        type: string
      br_federation:
        description: 'Whether to release BR federation manager'
        required: false
        type: boolean
        default: true
      fips:
        description: 'Whether to enable FIPS'
        required: false
        type: boolean
        default: false

jobs:
  release-charts:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.git_ref || github.ref }}

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: '3.14.0'
      - name: Determine release tag and validate
        id: release_tag
        run: |
          echo "test xx action"
